<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Roman Mammadov</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&family=Syne:wght@400;700;800&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <nav>
        <a href="index.html" class="nav-logo">
            <span>~/</span>roman.dev
        </a>

        <ul class="nav-links">
            <li><a href="index.html" class="active">Home</a></li>
            <li><a href="about.html">About</a></li>
        </ul>

        <a href="mailto:roman.mammadov@my.liu.edu" class="nav-cta">
            Contact
        </a>
    </nav>
    <script src="script.js"></script>
</body>
</html>
