<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Roman Mammadov</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&family=Syne:wght@400;700;800&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <nav>
        <a href="index.html" class="nav-logo">
            <span>~/</span>roman.dev
        </a>

        <ul class="nav-links">
            <li><a href="index.html" class="active">Home</a></li>
            <li><a href="about.html">About</a></li>
        </ul>

        <a href="mailto:roman.mammadov@my.liu.edu" class="nav-cta">
            Contact
        </a>
    </nav>

    <section class="hero">
            <div class="hero-left">
                <div class="hero-tag">Full-Stack Developer & CS Student</div>
                <h1 class="hero-name">
                <div>ROMAN</div>
                <div class="line2">MAMMADOV</div>
                </h1>
            </div>

            <div class="hero-right">
                <div class="photo-box">
                <div class="photo-placeholder">
                    <div class="ph-icon">
                    <svg viewBox="0 0 24 24" fill="none" stroke-width="1.5">
                        <circle cx="12" cy="8" r="4" />
                        <path d="M4 20c0-4 3.6-7 8-7s8 3 8 7" />
                    </svg>
                    </div>
                    <div class="ph-label">Your photo here</div>
                </div>
                <div class="ph-corner"></div>
                </div>

                <p class="hero-bio">
                Building things with Python, Django & PostgreSQL.
                Based in Brooklyn, NY.
                </p>
            </div>
    </section>
    <script src="script.js"></script>
</body>
</html>
